<div class="many-admins-container">
    <% admins.forEach(admin=> { %>
        <div class="admin-container">
            <div class="admin-info-container">
                <div class="admin-id">
                    <%= admin.id %>
                </div>
                <div class="admin-username">

                    <%= admin.username %>
                </div>
            </div>
            <div class="admin-button-container">

            </div>
        </div>
        <% }) %>
</div>