<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6e4a985b33.js" crossorigin="anonymous"></script>
    <title><%= (typeof title != "undefined" ? title : "My Blog")%></title>
    <link rel="stylesheet" href="/css/admin/adminLogin.css">
</head>

<body>
        <main>

            <%- body %>

        </main>

</body> 

</html>