<header>
    <div class="logo">
        <a href="/" class="home-link"> <img src="../image/logo.png" alt=""
                style=" width: 100px; height: 100%; display:inline-block">
        </a>
    </div>
    <!-- <div> -->
    <form class="search">
        <input type="text" name="search" id="search-input">
        <button type="button">Search</button>
    </form>
    <!-- </div> -->
    <div class="button-group">
        <a href="/user/login" class="login">Login</a>
        <a href="/user/logout" class="logout">Logout</a>
        <a href="/user/register" class="register">Register</a>
    </div>
</header>