<header>
    <div class="logo">
        <a href="/" class="home-link"> <img src="../image/logo.png" alt=""
                style=" width: 100px; height: 100%; display:inline-block">
        </a>
    </div>
    <!-- <div> -->
    <form action="/search" class="search" method="POST">
        <input type="text" name="search" id="search-input" placeholder="Search titles ..."
            value="<%= typeof search != 'undefined' ? search : "" %>">
        <button type="submit">Search</button>

    </form>
    <!-- </div> -->
    <div class="button-group">
        <% if (typeof user !=="undefined" ) { %>
            <a href="/user/<%= id %>" class="login">
                <%= user %>
            </a>
            <a href="/user/logout" class="login">Logout</a>
            <% } else { %>
                <a href="/user/login" class="login">Login</a>
                <a href="/user/register" class="register">Register</a>
                <% } %>
    </div>
</header>