<form action="/user/login" class="login-form" method="POST">
    <legend>Login</legend>
    <% if (typeof message !='undefined' ) { %>
        <% if (message==0) { %>
            <div class="login-fail">
                Email or Password Incorrect
            </div>
            <% } %>
                <% } %>
                    <div>
                        <label for="email">Email</label>
                        <input type="text" name="email">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div>
                        Don't have an account.
                        <a href="/user/register">Register here</a>
                    </div>
                    <div>
                        <button type="submit">Log In</button>
                    </div>
</form>